<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I recently graduated from
      <a class="underline-link" href="https://www.th-ab.de" target="_blank">Aschaffenburg University of Applied Sciences</a>
    </p>

    <p>
      I am passionate about medical engineering and machine learning in the context of life sciences. 
      I love keeping up with the times and finding ways to apply the latest discoveries and achievements in 
      machine learning to the problem at hand. I like to experiment and learn new things in the exciting, 
      fast-paced ML environment, and I'm not afraid of new technologies or stacks.
    </p>

    <p>
      <strong>When I'm not at my desk tinkering</strong>, I'm probably playing handball, in the climbing gym, 
      or on the tennis court.
    </p>

    {% include employment-status.html %}
  </div>
</section>
